<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="logo" th:fragment="logo">
    <a href="/">
        <img src="/logo.jpg">
    </a>
</div>

<div id="menu" th:fragment="menu">
    <a href="/" class="button">Strona Główna</a>
    <a href="/contact" class="button">Kontakt</a>
    <a href="/cart" th:if="${session.user != null}" class="button">Koszyk</a>
    <a href="/login" th:if="${session.user == null}" class="button">Zaloguj</a>
    <a href="/logout" th:if="${session.user != null}" class="button">Wyloguj</a>
    <a href="/book/add" th:if="${session.user?.getRole() == T(pl.edu.wszib.book.store.model.User.Role).ADMIN}" class="button">Dodaj książkę</a>
</div>

</body>
</html>