<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Super ksiegarnia</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/login.css">
    <script src="/login-validator.js"></script>
</head>
<body>
<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>

<div id="content">
    <form id="login-form" method="post" onsubmit="return validate()">
        <p th:if="${loginInfo != null}" th:text="${loginInfo}"></p>
        <input type="text" placeholder="Login" class="text-field" name="login" id="login-field">
        <input type="password" placeholder="Hasło" class="text-field" name="password" id="pass-field">
        <input type="submit" value="OK" class="button">
    </form>
</div>
</body>
</html>